.fixFloat {
    clear: both;
}

#contato label {
    font: italic bold 12pt Arial;
    color: #6d6b6b;
    display: block;
    margin-top: 20px;
}

#contato input[type="submit"], input[type="reset"] {
    color: white;
    background-color: #060;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
    border: 0px;
    width: 110px;
    height: 40px;
    cursor: pointer;
}

body {
    margin: auto;
    width: 960px;
    background-color: grey;
    padding: 0px;
    background: url(/cursoHTML5/pg2/fundo.gif) repeat-x;
    overflow-y: scroll;
}

#cab img {
    float: left;
}

#social {
    float: right;
    margin-top: 40px;
}

#social img {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

#menu {
    float: left;
    margin-top: 93px;
    width: 453px;
}

#menu a:hover {
    color: #000;
}

#menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to bottom, #DDD, #737373);
}

#menu li {
    height: 57px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 151px;
    border-right: 1px solid #062;
}

#menu ul, li, a {
    text-decoration: none;
    font-size: 17px;
    color: white;
}

#banner {
   margin-top: 15px;
   height: 384px;
   margin-top: 15px;
   margin-bottom: 10px;
}

#banner img {
    width: 960px;
}

#b1 {
    position: relative;
    left: 0px;
    top: 0px;
}

#b2 {
    position: relative;
    left: 0px;
    top: -388px;
}

#b3 {
    position: relative;
    left: 0px;
    top: -776px;
}

#main {
    background-color: #EEE;
    width: 740px;
    border-radius: 10px;
    padding: 5px;
}

#main h1 {
    font-size: 20pt;
    border-bottom: 1px solid black;
}

#main h2 {
    font-size: 15px;
}

#main p {
    margin-top: -5px;
    text-align: justify;
    text-indent: 10px;
    line-height: 1.7em;
}

#lateral {
    float: right;
    background-color: #DDD;
    width: 190px;
    border-radius: 10px; 
    padding: 5px ;
}

#lateral h1 {
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid black;
    margin-top: -3px;
}

#lateral h2 {
    font-size: 15px;
}

#lateral p {
    text-align: justify;
}

footer {
    color: #888;
    border: 1px solid black;
}

footer p {
    display: inline-block;
    width: 316px;
    text-align: center;
}

details {
    margin-top: 30px;
    cursor: pointer;
}

details p {
    font-size: 20px;
}

summary {
    height: 30px;
    background: linear-gradient(to bottom, #EEE, #999);
    font: italic bold 13pt Arial;
    padding: 10px 0px 0px 10px;
}

details[open] summary {
    color: #ffffff;
    background: linear-gradient(to bottom, rgb(223, 103, 103), rgb(223, 48, 48))
}

details[open] {
    background-color: #d6d2d241;
}
